*{margin: 0 auto;  }

.banner{
    width: 1920px; height: 1078px;  position: relative; 
  overflow: hidden; 
}
.banner1{
    display: block;   width: 1920px; height: 1078px;
    
}
.banner .overlay {
    position: absolute;
    width: 1920px; 
    height: 1078px;
    background-color: rgba(0,0,0,0.4);
    z-index: 5;
}
.banner .text1 {position: absolute; font-size: 50px; font-weight: bold;   z-index: 10;
  top: 45%;            /* 원하는 위치로 조정 가능 */
  left: 25%;
  transform: translate(-50%, -50%); /* 가운데 정렬 */  color: #fff;}


.banner .text2 {color: #fff;position: absolute; font-size: 50px; font-weight: lighter;   z-index: 10; 
  top: 55%;            /* 원하는 위치로 조정 가능 */
  left: 21%;
  transform: translate(-50%, -50%); /* 가운데 정렬 */ }


/*.btn{ border-style: none;
  position: absolute;  width: 315px; height: 66px; border-radius: 80px; color: #fff;  z-index:10 ; opacity: 80%;
     top: 60%;           
  left: 4%;
}
.btn:hover{cursor: pointer; opacity: 100%; transition: 0.5s;}
.btn h2 { color: #1B3A4B; font-size: 35px; opacity: 100%;}*/

.btn {
    border-style: none;
    position: absolute;
    width: 315px;
    height: 66px;
    border-radius: 80px;
    color: #fff;
    z-index: 10;
    opacity: 80%;
    top: 60%;
    left: 4%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* 밑줄 제거 */
    background-color: #fff;
  }

  .btn:hover {
    cursor: pointer;
    opacity: 100%;
    transition: 0.5s;
  }

  .btn h2 {
    color: #1B3A4B;
    font-size: 35px;
    opacity: 100%;
    margin: 0;
    margin-top: -8px;
  }