.U-j {  width: 1400px; height: 1300px;
  line-height: 44px; font-size: 30px ; color: #1B3A4B; font-weight: 300; 
}

.U-info {line-height: 100px;  font-size: 25px;}
.U-j h1 {text-align: center; padding: 50px;}

.U-info input {width: 800px; height: 35px;  border-radius: 10px; margin: 0; margin-left: 83px; font-size: 20px; align-items: center;}
#U-name2.U-name2{width: 300px; margin-left: 20px; height: 25px;}
.U-name {width: 1000px; height: 100px; display: flex; margin: 0; }
.U-name .name {width: 1700px; height: 100px; display: flex; margin: 0; align-items: center;}
/* .name .U-name2 {width: 200px; height: 25px;  border-radius: 10px; margin: 20; } */
.name p {margin: 0; align-items: center;}
.U-number {width: 1705px; height: 100px; display: flex;}
.U-number p {width: 111px; display: flex; margin: 0; align-items: center; height: 50px;}  
.number-box .U-number2 {width: 200px; height: 25px; margin: 20px;  border-radius: 10px;}

.number-box {width: 1000px; height: 50px; display:flex ; margin:  0 ; padding: 0; align-items: center;}

.U-number .number-box p {display: flex;}

.U-email {display: flex; width: 1050px; align-items: center; float: left; }
.U-email p {margin: 0; width: 200px;}

.U-id {display: flex;  width: 1050px; align-items: center; float: left;}
.U-id p {margin: 0; width: 200px;}
.U-password {display: flex;  width: 1050px; align-items: center; float: left;}
.U-password p {margin: 0; width: 200px;}

.U-post {display: flex;  width: 1050px; align-items: center; float: left;}
.U-post p {margin: 0; width: 200px;}
.U-address {display: flex;  width: 1050px; align-items: center; float: left;} 
.U-address p {margin: 0; width: 200px;}
.U-delivery {display: flex;  width: 1050px; align-items: center; float: left;}
.U-delivery p {margin: 0; width: 200px;}

.submit-btn-link2 {

  background-color: #1B3A4B;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
    
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease;
  margin-top: 30px;
  text-align: center;
  align-items: center;
  display: flex;
  width: 500px;
  height: 60px;
  
 
}

.submit-btn-link2:hover {
  background-color: #145369;
}

.submit-btn-link2:active {
  background-color: #0D2B3A;
}

