.D-D2 {height: 800px; padding: 80px; margin-top: 30px;}
.D-D2_info {width: 700px; font-weight: bold; line-height: 50px; }
.D-D2_info .d2-title {font-size: 25px;}
.D-D2_info .d2-price {font-size: 45px;}
.D-D2_line {border: 1px solid #838383; width: 500px; margin: 0; margin-left: -10px; margin-top: 50px; margin-bottom: 20px;}
.D-D-3 {width: 700px; height: 1000px; background-color: 
  #fcfcfc; border: 1px solid #d8d8d8; border-radius: 10px; padding: 20px; margin-top: 30px;
line-height: 40px; align-items: center;}
.D-info-3 {width: 700px; margin-top: 50px; font-size: 20px; }
.D-info-3 p  {margin: 0;}

.Done-line {border: 1px dashed #9e9e9e; width: 500px; margin: 0; margin-left: -10px; margin-top: 20px; margin-bottom: 20px;}


.D-name-3 {width: 700px;  height: 50px; display: flex; align-items: center; }
.D-number-3 {width: 700px; display: flex; height: 50px; align-items: center; text-align: center;}
.D-id-3 {width: 700px; display: flex; height: 50px; align-items: center; text-align: center;}
.D-post-3 {width: 700px; display: flex; height: 50px; align-items: center; text-align: center;}
.D-address-3 {width: 700px; display: flex; height: 50px; align-items: center; text-align: center;}
.D-password-3 {width: 700px; display: flex; height: 50px; align-items: center; text-align: center;}
.D-post-3 {width: 700px; display: flex; height: 50px; align-items: center; text-align: center;}
.D-user-name {width: 700px; display: flex; height: 50px; align-items: center; text-align: center;}
.submit-btn-wrapper3 {margin-top: 20px; width: 500px; margin-left: -20px; margin-left: 5;}


.submit-btn-link3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  background-color: #1B3A4B;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.submit-btn-link3:hover {
  background-color: #145369;
}

.submit-btn-link3:active {
  background-color: #0D2B3A;
}
